.conteiner-live {
  width: 100%;
  display: flex;
  align-items: flex-start;
  height: 100vh;
  background: #e0e0e0;
  padding: .5rem;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.box-comentary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #e0e0e0;
  margin-top: 1rem;
  padding: 1rem;

  .btns-icons {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-evenly;

    i {
      font-size: 22px;
      font-weight: 800;
      cursor: pointer;
      padding: .5rem;
    }

    i:hover {
      background: #c2c2c2;
    }
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

    input[type=text] {
      padding: .5rem 1rem;
      outline: none;
      border-radius: 0px;
      border: 1px solid #e0e0e0;
      width: 80%;
    }

    input[type=submit] {
      padding: .5rem;
      border-radius: 0px;
      border: 1px solid #000;
      cursor: pointer;
      background: #000;
      color: #fff;
    }
  }
}

@media(max-width:787px) {
  .conteiner-live {
    height: auto;
  }

  .box-comentary {
    flex-direction: column;

    .btns-icons {
      width: 100% !important;
      margin: .5rem 0 !important;
    }

    form {
      width: 100% !important;
    }
  }
}