footer {
  width: 100%;
  margin-top: 1rem;

  .container-footer {
    width: 100%;
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: space-around;
    background: #e0e0e0;

    p {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}