.banner {
  background-image: url('https://images.pexels.com/photos/8673812/pexels-photo-8673812.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  margin-bottom: 1rem;
}

@media(max-width:550px) {
  .banner {
    display: none;
  }
}